body {
    background-image: url(../images/landingpage\ background.jpg);
    background-size: 100%;
    
}

.jumbotron {
    background-image: url(https://www.rebornevo.com/uploads/monthly_2018_03/logobanner.png.a2a3c2e71ba354cdd87185317fa8a552.png);
    background-size: auto;
    opacity: 60%;
}

.jumbotron h1 {
    text-shadow: 3px 2px #ff0000;
    color: white;
}

.jumbotron p {
    text-shadow: 3px 2px #ff0000;
    color: white;
}

hr {
    border-color: white;
    border-width: 3px;
}

#startbtn {
    text-align: center;
    margin: auto;
    margin-top: 50px;
}

/* zone page */



/* fire page, image credit https://www.deviantart.com/agifarclor */
.fire {
    background-image: url(../images/volcano_gif.gif);
    background-size: 100%;
    
}
/* water page */
.water {
    background-image: url(../images/water_gif.gif);
    background-size: 100%;
    
}
/* snow page */
.snow {
    background-image: url(../images/daniel-magyar-02.jpg);
    background-size: 100%;
    
}
/* haunted page */
.haunted {
    background-image: url(../images/haunted-mansion-animated-series.jpg);
    background-size: 100%;
    
}

#jumbohaunted{
    color: black;
}